.profilepage-section-container {
    height: 50vh;
    border-bottom: 1.5px solid #cbcbcbd7;
}

.profilepage-image-container {
    position: absolute;
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(216, 216, 216, 0.704) 0%, transparent 100%);
}

.profilepage-image {
    width: 267px;
    height: 267px;
    border-radius: 1%;
}

.profilepage-name-container {
    position: absolute;
    padding-left: 60px;
    padding-top: 115px;
    padding-right: 20px;
    z-index: 2;
}

.profilepage-name {
    font-size: 160px;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
